.grid-container {
    display: grid;
    grid-template-columns: 120px 200px auto;
}

.grid-item {
    display: inline-grid;
}

#cmd {
    width: 95%;
}

#results {
    display: block;
    width: 95%;
    height: 150px;
}
